head
    style(type="text/css").
        body {
            padding: 5px 0;
            margin: 0
        }

        .link {
            margin: 0 5px;
        }
div
    table
        thead
            tr
                th Module
                th Time
                th Links
        tbody
            each value in values
                tr(style={color: value.color})
                    td
                        a(href='./' + value.link) #{value.module}
                    td #{value.time}
                    td(style={width: '100%', display: 'flex', 'justify-content': 'space-between'})
                        a(class='link' href='./' + value.link) Terraform
                        if value.linkLocalExec
                            a(class='link' href='./' + value.linkLocalExec) Local-exec
                        if value.linkExecuting
                            a(class='link' href='./' + value.linkExecuting) Execution